/* ---------- GENERAL STYLING ---------- */
html {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
  background-color: black;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  width: 100%;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  cursor: pointer;
  color: var(--green);
}

img {
  width: 100%;
  height: auto;
}

input {
  margin: 2em;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#createArtistDiv {
  text-align: center;
}

#btn-createArtist {
  margin-top: 1%;
  font-size: 150%;
  font-style: oblique;
}

/* ---------- HEADER STYLING ---------- */
header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  justify-items: center;
  margin: 0;
  padding: 0;
}

header img {
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  object-position: 0 -3px;
}

header h1 {
  position: absolute;
  left: 60%;
  font-size: 2em;
  text-shadow: 3px 3px 3px black;
}

@media (min-width: 992px) {
  header h1 {
    font-size: 3em;
  }
}
@media (min-width: 1500px) {
  header h1 {
    font-size: 3em;
    top: 6%;
  }
}

/* ---------- ANIMATIONS ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- GRID CONTAINER STYLING ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ---------- GRID ITEM STYLING ---------- */

.grid-item {
  padding: 1.5em;
  background-color: #333;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 1em;
  padding: 0;
  text-align: center;
}

.grid-item img {
  width: 70%;
  margin-top: 1em;
  object-fit: cover;
  margin-bottom: 1em;
  border-radius: 1em;
}

.grid-item p {
  margin: 0.7em;
  text-align: center;
}

.grid-item h2 {
  text-align: center;
  margin: 0;
}

.grid-item h3 {
  text-align: center;
  margin: 5;
}

.favorited {
  border: solid white;
}

/* ---------- GRID CONTAINER BTN STLYING ---------- */

.grid-container button {
  background-color: purple;
  display: inline-block;
  margin-bottom: 1em;
}

/* ---------- FORM STYLING ---------- */
/* input form styling */
form {
  margin: 2em auto 0;
  padding: 1em 1em 2em;
  text-align: center;
}

button {
  font-weight: 300;
  border-radius: 0.2em;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;
  background-color: purple;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  max-width: 380px;
  margin-top: 1%;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  border: 2px solid rgb(0, 0, 0);
  display: block;
  background: white;
}

#filterSort {
  text-align: center;
}

/* ---------- DIALOG STYLING ---------- */

form {
  margin: 0px;
}

dialog {
  border-color: rgb(255, 255, 255);
  background-color: rgb(73, 69, 69);
  width: 70vw;
  padding: 0em 0em;
  color: white;
  margin-top: 0;
}

.dialog-grid {
  display: grid;
  grid-template-areas: "a b";
  gap: 5px;
}

#dialog-img-div {
  border: 0px outset;
  grid-area: a;
}

#dialog-info-div {
  border: 5px black;
  grid-area: b;
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

dialog h3 {
  margin-bottom: 1em;
  font-size: 1em;
  font-style: italic;
}

dialog h2 {
  text-align: center;
  border-color: black;
  border: solid;
  margin-top: 0;
}

dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
  font-size: 0.8em;
}
dialog p {
  margin: 0.5em 0 1em;
  font-size: 0.8em;
}
dialog img {
  margin: 0.5em 2em 1em;
  width: 400px;
}
